<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>

    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/198cd6dc1b.js" crossorigin="anonymous"></script>

</head>

<body>

    

    <main>

        <form action="/add-task" method="POST" autocomplete="off">

            <div class="task-input">
                <input type="text" name="task" placeholder="Enter a task">
            </div>

            <div class="task-details">

                <div class="category">
                    Category: 

                    <select name="category" id="category">
                        <option value="None">None</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="School"> School </option>
                        <option value="Groceries">Groceries</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Others">Others</option>
                    </select>



                </div>
                <div class="deadline">
                    Deadline: 
                    <input class="datepicker" type="date" name="deadline" placeholder="Enter a due date">
                </div>



            </div>

            <button id="add-task-btn" type="submit">Add task</button>


        </form>

        <div class="todo-items-container">

            <div class="no-task-added">
                <hr>
                You have not added any task!
                <hr>
            </div>

            <% for (let item of todo_list) { %>
            <div class="todo-item">
                <div class="check-button" id="<%= item._id %>" state="<%= item.state %>">
                    <i class="far fa-square"></i>
                </div>

                <div class="todo-details">
                    <div class="todo-desciption"> <%= item.task %> </div>
                    <div class="todo-deadline"><%= item.deadline_string %></div>
                </div>

                <div class="todo-category"> <%= item.category %> </div>



                <div class="delete-button">
                    <a href="/delete-task/?id=<%= item._id %>">
                        <i class="fas fa-trash"></i></a>
                </div>


            </div>
            <% } %>


        </div>
        <div class="delete">
            <a href="/delete-completed"><button class="delete-btn">Delete completed</button></a>
            <a href="/delete-all"><button class="delete-btn">Delete All</button></a>
        </div>


    </main>

    <!-- Script files -->

    <script src="script.js"></script>

</body>

</html>